*{
    margin: 0;
    padding-top: 0;
}
html, body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    display: block;
}
canvas{
    border: 1px solid black;
    float: left;
    clear: left;
}